* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-container {
  height: 502px;
  width: 400px;
  border: 1px solid black;
  margin: 30px auto;
  padding: 0;
}

#display {
  height: 100px;
  width: 100%;
  border: 1px solid black;
  font-size: 3em;
  align-content: center;
  text-align: right;
}
.row {
  height: 100px;
  width: 100%;
  display: flex;
}

#row4 button:nth-child(1) {
  font-size: 1.5em;
}

button {
  border: 0;
  background-color: pink;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-align: center;
  align-content: center;
  font-size: 3em;
}
