* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-container {
  height: 500px;
  width: 400px;
  margin: 30px auto;
  padding: 0;
  background-color: rgb(255, 0, 225);
  border-radius: 9px;
}

#display {
  height: 100px;
  width: 100%;
  border: 3px solid black;
  font-size: 3.5em;
  align-content: center;
  text-align: right;
  border-radius: 10px;
}
.row {
  height: 100px;
  width: 100%;
  display: flex;
}

#row4 button:nth-child(1) {
  font-size: 1.5em;
}

button {
  border: 0;
  background-color: rgb(254, 184, 213);
  height: 97px;
  width: 97px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-align: center;
  align-content: center;
  margin: 0 auto;
  font-size: 3em;
}
